<h1>Sign up!</h1>
<%= form_for @administrator, url: admin_add_path do |f| %>
<p>Username: <%= f.text_field :username %></p>
<p>Password: <%= f.password_field :password %></p>
<p>Password Confrimation: <%= f.password_field :password_confirmation %></p>
<p> <%= f.submit('Signup!')  %></p>
<% end %>
