<h1> Manage Bookstore </h1>
<%= link_to("Add Book", new_admin_book_path) %>
<br>
<br>
Sort By: <%= link_to 'Title', admin_books_path({order_by: 'title'})  %>,
          <%= link_to 'Price', admin_books_path({order_by: 'price'}) %>,
          <%= link_to 'Author', admin_books_path({order_by: 'author'}) %>
<br>
<br>
<% @books.each do |book| %>
    Title: <%= book.title %>
    <br>
    Author: <%= book.author %>
    <br>
    Page Count: <%= book.pages %>
    <br>
    Price: $<%= book.price %>
    <br>
    In stock: <%= book.in_stock %>
    <br>
    <%= link_to("Edit", edit_admin_book_path(book.id)) %>
    <%= link_to("Delete", admin_book_path(book.id), method: :delete) %>
    <br>
    <br>
<% end %>
