<h1> Manage Bookstore </h1>
<h2> New Book </h2>
<%=  form_for(@book, url: admin_books_path)  do |f| %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Page Count</th>
      <th>Price</th>
      <th>In Stock</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tr>
    <td><%= f.text_field (:title) %></td>
    <td><%= f.text_field (:author) %></td>
    <td><%= f.text_field (:pages) %></td>
    <td><%= f.text_field (:price) %></td>
    <td><%= f.text_field (:in_stock) %></td>
    <td>
    <%= f.submit('Update') %>
    </td>
  </tr>
</table>
<% end %>
