<h1> Manage Bookstore </h1>
<%= link_to("Add Book", new_admin_book_path) %>
<br>
<br>
<%= link_to("Orber Books By Price", admin_booksprice_path)%>
<%= link_to("Alphebetize Books", admin_bookstitle_path) %>
<br>
<br>
<% @books.order(title: :asc).each do |book| %>
    Title: <%= book.title %>
    <br>
    Author: <%= book.author %>
    <br>
    Page Count: <%= book.pages %>
    <br>
    Price: $<%= book.price %>
    <br>
    <%= link_to("Edit", edit_admin_book_path(book.id)) %>
    <%= link_to("Delete", admin_book_path(book.id), method: :delete) %>
    <br>
    <br>
<% end %>
