<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if administrator_signed_in? %>
     <%= link_to 'Books', admin_books_path %>
     <%= link_to 'Logout', admin_logout_path, method: :delete %>
   <% else %>
     <%= link_to 'Login', admin_login_path%>
     <%= link_to 'Sign up!', admin_add_path %>
   <% end %>

   <p>
     <%= alert %>
   </p>
   <p>
     <%= notice %>
   </p>

<%= yield %>

</body>
</html>
